In [1]:
import geopandas as gpd
import os
import zipfile as zf
import geopandas
from shapely.geometry import shape
import gzip 
import urllib.request
import xarray as xr
import io
import shapefile
import pandas as pd
import json

In [2]:
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler

In [3]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
from tensorflow.keras.backend import square, mean

In [35]:
df = pd.read_pickle("final.pkl")

In [11]:
df

          time  timeMin  timeMax           gdp
0   1980-01-15    -1.59     1.77   6837.641000
1   1980-02-15    -2.59     6.66   6790.678333
2   1980-03-15    -1.40     3.26   6743.715667
3   1980-04-15    -1.39     3.05   6696.753000
4   1980-05-15    -1.49     2.39   6694.100000
..         ...      ...      ...           ...
491 2020-12-15    -0.27     5.58  18989.854000
492 2021-01-15     0.48     7.10  19087.568000
493 2021-02-15    -4.14     1.27           NaN
494 2021-03-15    -1.28     5.49           NaN
495 2021-04-15    -0.95     2.38           NaN

[496 rows x 4 columns]

In [36]:
df = df.reset_index()
df['time'] = pd.to_datetime(df['time'])
df = df.set_index(df['time'])
df = df.sort_index()
df =  df.drop(["time","index","gdp"], axis =1)

In [37]:
df

            timeMin  timeMax
time
1980-01-15    -1.59     1.77
1980-02-15    -2.59     6.66
1980-03-15    -1.40     3.26
1980-04-15    -1.39     3.05
1980-05-15    -1.49     2.39
...             ...      ...
2020-12-15    -0.27     5.58
2021-01-15     0.48     7.10
2021-02-15    -4.14     1.27
2021-03-15    -1.28     5.49
2021-04-15    -0.95     2.38

[496 rows x 2 columns]

In [25]:
496*0.75

372.0

Scaling dataset

In [38]:
min_max_scaler = MinMaxScaler()
df[["timeMin", "timeMax"]] = min_max_scaler.fit_transform(df[["timeMin", "timeMax"]])

In [39]:
df

             timeMin   timeMax
time
1980-01-15  0.662583  0.124825
1980-02-15  0.568332  0.467742
1980-03-15  0.680490  0.229313
1980-04-15  0.681433  0.214586
1980-05-15  0.672008  0.168303
...              ...       ...
2020-12-15  0.786993  0.392006
2021-01-15  0.857681  0.498597
2021-02-15  0.422243  0.089762
2021-03-15  0.691800  0.385694
2021-04-15  0.722903  0.167602

[496 rows x 2 columns]

In [40]:
train,test = df[1:372], df[372:]

In [41]:
def split_series(series, n_past, n_future):
  #
  # n_past ==> no of past observations
  #
  # n_future ==> no of future observations 
  #
  X, y = list(), list()
  for window_start in range(len(series)):
    past_end = window_start + n_past
    future_end = past_end + n_future
    if future_end > len(series):
      break
    # slicing the past and future parts of the window
    past, future = series[window_start:past_end, :], series[past_end:future_end, :]
    X.append(past)
    y.append(future)
  return np.array(X), np.array(y)

In [42]:
n_past = 50
n_future = 1
n_features = 2

In [43]:
X_train, y_train = split_series(train.values,n_past, n_future)
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1],n_features))
y_train = y_train.reshape((y_train.shape[0], y_train.shape[1], n_features))
X_test, y_test = split_series(test.values,n_past, n_future)
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1],n_features))
y_test = y_test.reshape((y_test.shape[0], y_test.shape[1], n_features))

In [44]:
# E1D1
# n_features ==> no of features at each timestep in the data.
#
encoder_inputs = tf.keras.layers.Input(shape=(n_past, n_features))
encoder_l1 = tf.keras.layers.LSTM(100, return_state=True)
encoder_outputs1 = encoder_l1(encoder_inputs)

encoder_states1 = encoder_outputs1[1:]

#
decoder_inputs = tf.keras.layers.RepeatVector(n_future)(encoder_outputs1[0])

#
decoder_l1 = tf.keras.layers.LSTM(100, return_sequences=True)(decoder_inputs,initial_state = encoder_states1)
decoder_outputs1 = tf.keras.layers.TimeDistributed(tf.keras.layers.Dense(n_features))(decoder_l1)

#
model_e1d1 = tf.keras.models.Model(encoder_inputs,decoder_outputs1)

#
model_e1d1.summary()

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 50, 2)]      0
__________________________________________________________________________________________________
lstm (LSTM)                     [(None, 100), (None, 41200       input_1[0][0]
__________________________________________________________________________________________________
repeat_vector (RepeatVector)    (None, 1, 100)       0           lstm[0][0]
__________________________________________________________________________________________________
lstm_1 (LSTM)                   (None, 1, 100)       80400       repeat_vector[0][0]
                                                                 lstm[0][1]
                                                                 lstm[0][2]
__________________________________________________________________________________________________
time_distributed (TimeDistribut (None, 1, 2)         202         lstm_1[0][0]
==================================================================================================
Total params: 121,802
Trainable params: 121,802
Non-trainable params: 0
__________________________________________________________________________________________________

In [45]:
# E2D2
# n_features ==> no of features at each timestep in the data.
#
encoder_inputs = tf.keras.layers.Input(shape=(n_past, n_features))
encoder_l1 = tf.keras.layers.LSTM(100,return_sequences = True, return_state=True)
encoder_outputs1 = encoder_l1(encoder_inputs)
encoder_states1 = encoder_outputs1[1:]
encoder_l2 = tf.keras.layers.LSTM(100, return_state=True)
encoder_outputs2 = encoder_l2(encoder_outputs1[0])
encoder_states2 = encoder_outputs2[1:]
#
decoder_inputs = tf.keras.layers.RepeatVector(n_future)(encoder_outputs2[0])
#
decoder_l1 = tf.keras.layers.LSTM(100, return_sequences=True)(decoder_inputs,initial_state = encoder_states1)
decoder_l2 = tf.keras.layers.LSTM(100, return_sequences=True)(decoder_l1,initial_state = encoder_states2)
decoder_outputs2 = tf.keras.layers.TimeDistributed(tf.keras.layers.Dense(n_features))(decoder_l2)
#
model_e2d2 = tf.keras.models.Model(encoder_inputs,decoder_outputs2)
#
model_e2d2.summary()

Model: "functional_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_2 (InputLayer)            [(None, 50, 2)]      0
__________________________________________________________________________________________________
lstm_2 (LSTM)                   [(None, 50, 100), (N 41200       input_2[0][0]
__________________________________________________________________________________________________
lstm_3 (LSTM)                   [(None, 100), (None, 80400       lstm_2[0][0]
__________________________________________________________________________________________________
repeat_vector_1 (RepeatVector)  (None, 1, 100)       0           lstm_3[0][0]
__________________________________________________________________________________________________
lstm_4 (LSTM)                   (None, 1, 100)       80400       repeat_vector_1[0][0]
                                                                 lstm_2[0][1]
                                                                 lstm_2[0][2]
__________________________________________________________________________________________________
lstm_5 (LSTM)                   (None, 1, 100)       80400       lstm_4[0][0]
                                                                 lstm_3[0][1]
                                                                 lstm_3[0][2]
__________________________________________________________________________________________________
time_distributed_1 (TimeDistrib (None, 1, 2)         202         lstm_5[0][0]
==================================================================================================
Total params: 282,602
Trainable params: 282,602
Non-trainable params: 0
__________________________________________________________________________________________________

In [66]:
reduce_lr = tf.keras.callbacks.LearningRateScheduler(lambda x: 1e-3 * 0.90 ** x)
model_e1d1.compile(optimizer=tf.keras.optimizers.Adam(), loss=tf.keras.losses.Huber())
history_e1d1=model_e1d1.fit(X_train,y_train,epochs=25,validation_data=(X_test,y_test),batch_size=32,verbose=1,callbacks=[reduce_lr])
model_e2d2.compile(optimizer=tf.keras.optimizers.Adam(), loss=tf.keras.losses.Huber())
history_e2d2=model_e2d2.fit(X_train,y_train,epochs=25,validation_data=(X_test,y_test),batch_size=32,verbose=1,callbacks=[reduce_lr])

Epoch 1/25
11/11 [==============================] - 1s 126ms/step - loss: 37.9084 - val_loss: 38.2174
Epoch 2/25
11/11 [==============================] - 0s 28ms/step - loss: 35.0399 - val_loss: 34.2152
Epoch 3/25
11/11 [==============================] - 0s 30ms/step - loss: 31.6370 - val_loss: 32.7484
Epoch 4/25
11/11 [==============================] - 0s 29ms/step - loss: 30.1233 - val_loss: 31.9056
Epoch 5/25
11/11 [==============================] - 0s 27ms/step - loss: 29.3625 - val_loss: 31.1961
Epoch 6/25
11/11 [==============================] - 0s 28ms/step - loss: 28.8182 - val_loss: 30.7043
Epoch 7/25
11/11 [==============================] - 0s 28ms/step - loss: 28.3626 - val_loss: 30.3507
Epoch 8/25
11/11 [==============================] - 0s 30ms/step - loss: 27.9872 - val_loss: 30.0786
Epoch 9/25
11/11 [==============================] - 0s 34ms/step - loss: 27.6826 - val_loss: 29.8053
Epoch 10/25
11/11 [==============================] - 0s 33ms/step - loss: 27.4255 - val_loss: 29.5764
Epoch 11/25
11/11 [==============================] - 0s 32ms/step - loss: 27.1933 - val_loss: 29.3961
Epoch 12/25
11/11 [==============================] - 0s 31ms/step - loss: 26.9828 - val_loss: 29.2323
Epoch 13/25
11/11 [==============================] - 0s 28ms/step - loss: 26.7898 - val_loss: 29.0651
Epoch 14/25
11/11 [==============================] - 0s 32ms/step - loss: 26.6208 - val_loss: 28.8960
Epoch 15/25
11/11 [==============================] - 0s 30ms/step - loss: 26.4761 - val_loss: 28.7643
Epoch 16/25
11/11 [==============================] - 0s 34ms/step - loss: 26.3499 - val_loss: 28.6395
Epoch 17/25
11/11 [==============================] - 0s 28ms/step - loss: 26.2390 - val_loss: 28.5396
Epoch 18/25
11/11 [==============================] - 0s 26ms/step - loss: 26.1407 - val_loss: 28.4535
Epoch 19/25
11/11 [==============================] - 0s 32ms/step - loss: 26.0529 - val_loss: 28.3650
Epoch 20/25
11/11 [==============================] - 0s 30ms/step - loss: 25.9742 - val_loss: 28.2947
Epoch 21/25
11/11 [==============================] - 0s 28ms/step - loss: 25.9043 - val_loss: 28.2283
Epoch 22/25
11/11 [==============================] - 0s 29ms/step - loss: 25.8411 - val_loss: 28.1632
Epoch 23/25
11/11 [==============================] - 0s 33ms/step - loss: 25.7848 - val_loss: 28.1060
Epoch 24/25
11/11 [==============================] - 0s 34ms/step - loss: 25.7347 - val_loss: 28.0540
Epoch 25/25
11/11 [==============================] - 0s 25ms/step - loss: 25.6894 - val_loss: 28.0112
Epoch 1/25
11/11 [==============================] - 2s 215ms/step - loss: 37.7596 - val_loss: 37.2182
Epoch 2/25
11/11 [==============================] - 1s 55ms/step - loss: 34.0289 - val_loss: 33.6334
Epoch 3/25
11/11 [==============================] - 1s 54ms/step - loss: 31.0296 - val_loss: 32.4885
Epoch 4/25
11/11 [==============================] - 1s 54ms/step - loss: 29.7834 - val_loss: 31.5533
Epoch 5/25
11/11 [==============================] - 1s 59ms/step - loss: 29.0198 - val_loss: 30.8877
Epoch 6/25
11/11 [==============================] - 1s 54ms/step - loss: 28.4473 - val_loss: 30.4427
Epoch 7/25
11/11 [==============================] - 1s 56ms/step - loss: 27.9733 - val_loss: 30.0423
Epoch 8/25
11/11 [==============================] - 1s 89ms/step - loss: 27.5769 - val_loss: 29.6596
Epoch 9/25
11/11 [==============================] - 1s 85ms/step - loss: 27.2202 - val_loss: 29.3111
Epoch 10/25
11/11 [==============================] - 1s 55ms/step - loss: 26.8848 - val_loss: 28.9858
Epoch 11/25
11/11 [==============================] - 1s 70ms/step - loss: 26.5878 - val_loss: 28.7195
Epoch 12/25
11/11 [==============================] - 1s 53ms/step - loss: 26.3338 - val_loss: 28.5218
Epoch 13/25
11/11 [==============================] - 1s 66ms/step - loss: 26.1170 - val_loss: 28.3407
Epoch 14/25
11/11 [==============================] - 1s 56ms/step - loss: 25.9250 - val_loss: 28.1704
Epoch 15/25
11/11 [==============================] - 1s 72ms/step - loss: 25.7623 - val_loss: 28.0174
Epoch 16/25
11/11 [==============================] - 1s 56ms/step - loss: 25.6228 - val_loss: 27.8753
Epoch 17/25
11/11 [==============================] - 1s 61ms/step - loss: 25.4960 - val_loss: 27.7582
Epoch 18/25
11/11 [==============================] - 1s 64ms/step - loss: 25.3772 - val_loss: 27.6441
Epoch 19/25
11/11 [==============================] - 1s 61ms/step - loss: 25.2692 - val_loss: 27.5309
Epoch 20/25
11/11 [==============================] - 1s 75ms/step - loss: 25.1744 - val_loss: 27.4359
Epoch 21/25
11/11 [==============================] - 1s 78ms/step - loss: 25.0892 - val_loss: 27.3573
Epoch 22/25
11/11 [==============================] - 1s 90ms/step - loss: 25.0139 - val_loss: 27.2916
Epoch 23/25
11/11 [==============================] - 1s 69ms/step - loss: 24.9470 - val_loss: 27.2372
Epoch 24/25
11/11 [==============================] - 1s 56ms/step - loss: 24.8878 - val_loss: 27.1821 0s - loss:
Epoch 25/25
11/11 [==============================] - 1s 55ms/step - loss: 24.8354 - val_loss: 27.1346

In [59]:
pred_e1d1=model_e1d1.predict(X_test)
pred_e2d2=model_e2d2.predict(X_test)

In [65]:
pred_e1d1

array([[[-0.78482825,  8.925818  ]],

       [[-0.7875119 ,  8.873264  ]],

       [[-0.69857603,  8.803901  ]],

       [[-0.6549057 ,  8.798472  ]],

       [[-0.6062141 ,  8.785261  ]],

       [[-0.62385094,  8.757107  ]],

       [[-0.6580555 ,  8.740157  ]],

       [[-0.66045976,  8.780213  ]],

       [[-0.6212725 ,  8.822549  ]],

       [[-0.63400286,  8.84796   ]],

       [[-0.52393407,  8.937671  ]],

       [[-0.3589427 ,  9.041061  ]],

       [[-0.20861697,  9.054074  ]],

       [[-0.06694087,  9.023523  ]],

       [[-0.10685147,  9.027793  ]],

       [[-0.17763846,  8.984735  ]],

       [[-0.18189195,  8.955389  ]],

       [[-0.20622902,  8.965231  ]],

       [[-0.26444742,  8.9573555 ]],

       [[-0.3201954 ,  8.950083  ]],

       [[-0.3170923 ,  8.992918  ]],

       [[-0.22994462,  9.03771   ]],

       [[-0.38339764,  9.044752  ]],

       [[-0.4300729 ,  9.026008  ]],

       [[-0.37601852,  9.037577  ]],

       [[-0.53886026,  9.010204  ]],

       [[-0.46968332,  8.965654  ]],

       [[-0.51102954,  8.893413  ]],

       [[-0.5200871 ,  8.865588  ]],

       [[-0.50359136,  8.868963  ]],

       [[-0.58387566,  8.875704  ]],

       [[-0.56865996,  8.872986  ]],

       [[-0.5700759 ,  8.908054  ]],

       [[-0.5795572 ,  8.947572  ]],

       [[-0.41966945,  9.084566  ]],

       [[-0.4435637 ,  9.029923  ]],

       [[-0.46277714,  9.044218  ]],

       [[-0.4257052 ,  8.986213  ]],

       [[-0.63659734,  8.894009  ]],

       [[-0.53533936,  8.828977  ]],

       [[-0.5427919 ,  8.78036   ]],

       [[-0.53363556,  8.766577  ]],

       [[-0.5682875 ,  8.783721  ]],

       [[-0.53719276,  8.830958  ]],

       [[-0.58304346,  8.904017  ]],

       [[-0.64732486,  8.91805   ]],

       [[-0.51955986,  8.931635  ]],

       [[-0.46403357,  8.917148  ]],

       [[-0.6070784 ,  9.000224  ]],

       [[-0.42938954,  9.050669  ]],

       [[-0.39546686,  8.923027  ]],

       [[-0.49069276,  8.847153  ]],

       [[-0.49552047,  8.799332  ]],

       [[-0.47209942,  8.796711  ]],

       [[-0.48415992,  8.805725  ]],

       [[-0.48499548,  8.8196    ]],

       [[-0.67098   ,  8.850776  ]],

       [[-0.69878846,  8.862393  ]],

       [[-0.5968547 ,  8.846544  ]],

       [[-0.78661555,  8.8593855 ]],

       [[-0.85444516,  8.805201  ]],

       [[-0.7670769 ,  8.783782  ]],

       [[-0.76686704,  8.76579   ]],

       [[-0.7557225 ,  8.763277  ]],

       [[-0.7023178 ,  8.7525625 ]],

       [[-0.6880038 ,  8.767364  ]],

       [[-0.6378856 ,  8.797324  ]],

       [[-0.6472753 ,  8.817698  ]],

       [[-0.7739811 ,  8.854199  ]],

       [[-0.7267395 ,  8.865167  ]],

       [[-0.6297817 ,  8.908432  ]],

       [[-0.4729648 ,  8.966678  ]],

       [[-0.71912384,  8.884768  ]],

       [[-0.67453855,  8.900197  ]]], dtype=float32)

In [62]:
for index,i in enumerate(train_df.columns):
    scaler = scalers['scaler_'+i]
    #pred1_e1d1[:,:,index]=scaler.inverse_transform(pred1_e1d1[:,:,index])
    pred_e1d1[:,:,index]=scaler.inverse_transform(pred_e1d1[:,:,index])
    #pred1_e2d2[:,:,index]=scaler.inverse_transform(pred1_e2d2[:,:,index])
    pred_e2d2[:,:,index]=scaler.inverse_transform(pred_e2d2[:,:,index])
    y_train[:,:,index]=scaler.inverse_transform(y_train[:,:,index])
    y_test[:,:,index]=scaler.inverse_transform(y_test[:,:,index])

In [64]:
pred_e1d1

array([[[-0.78482825,  8.925818  ]],

       [[-0.7875119 ,  8.873264  ]],

       [[-0.69857603,  8.803901  ]],

       [[-0.6549057 ,  8.798472  ]],

       [[-0.6062141 ,  8.785261  ]],

       [[-0.62385094,  8.757107  ]],

       [[-0.6580555 ,  8.740157  ]],

       [[-0.66045976,  8.780213  ]],

       [[-0.6212725 ,  8.822549  ]],

       [[-0.63400286,  8.84796   ]],

       [[-0.52393407,  8.937671  ]],

       [[-0.3589427 ,  9.041061  ]],

       [[-0.20861697,  9.054074  ]],

       [[-0.06694087,  9.023523  ]],

       [[-0.10685147,  9.027793  ]],

       [[-0.17763846,  8.984735  ]],

       [[-0.18189195,  8.955389  ]],

       [[-0.20622902,  8.965231  ]],

       [[-0.26444742,  8.9573555 ]],

       [[-0.3201954 ,  8.950083  ]],

       [[-0.3170923 ,  8.992918  ]],

       [[-0.22994462,  9.03771   ]],

       [[-0.38339764,  9.044752  ]],

       [[-0.4300729 ,  9.026008  ]],

       [[-0.37601852,  9.037577  ]],

       [[-0.53886026,  9.010204  ]],

       [[-0.46968332,  8.965654  ]],

       [[-0.51102954,  8.893413  ]],

       [[-0.5200871 ,  8.865588  ]],

       [[-0.50359136,  8.868963  ]],

       [[-0.58387566,  8.875704  ]],

       [[-0.56865996,  8.872986  ]],

       [[-0.5700759 ,  8.908054  ]],

       [[-0.5795572 ,  8.947572  ]],

       [[-0.41966945,  9.084566  ]],

       [[-0.4435637 ,  9.029923  ]],

       [[-0.46277714,  9.044218  ]],

       [[-0.4257052 ,  8.986213  ]],

       [[-0.63659734,  8.894009  ]],

       [[-0.53533936,  8.828977  ]],

       [[-0.5427919 ,  8.78036   ]],

       [[-0.53363556,  8.766577  ]],

       [[-0.5682875 ,  8.783721  ]],

       [[-0.53719276,  8.830958  ]],

       [[-0.58304346,  8.904017  ]],

       [[-0.64732486,  8.91805   ]],

       [[-0.51955986,  8.931635  ]],

       [[-0.46403357,  8.917148  ]],

       [[-0.6070784 ,  9.000224  ]],

       [[-0.42938954,  9.050669  ]],

       [[-0.39546686,  8.923027  ]],

       [[-0.49069276,  8.847153  ]],

       [[-0.49552047,  8.799332  ]],

       [[-0.47209942,  8.796711  ]],

       [[-0.48415992,  8.805725  ]],

       [[-0.48499548,  8.8196    ]],

       [[-0.67098   ,  8.850776  ]],

       [[-0.69878846,  8.862393  ]],

       [[-0.5968547 ,  8.846544  ]],

       [[-0.78661555,  8.8593855 ]],

       [[-0.85444516,  8.805201  ]],

       [[-0.7670769 ,  8.783782  ]],

       [[-0.76686704,  8.76579   ]],

       [[-0.7557225 ,  8.763277  ]],

       [[-0.7023178 ,  8.7525625 ]],

       [[-0.6880038 ,  8.767364  ]],

       [[-0.6378856 ,  8.797324  ]],

       [[-0.6472753 ,  8.817698  ]],

       [[-0.7739811 ,  8.854199  ]],

       [[-0.7267395 ,  8.865167  ]],

       [[-0.6297817 ,  8.908432  ]],

       [[-0.4729648 ,  8.966678  ]],

       [[-0.71912384,  8.884768  ]],

       [[-0.67453855,  8.900197  ]]], dtype=float32)