In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib.animation import FuncAnimation
import cartopy.crs as ccrs
from cartopy.feature import NaturalEarthFeature
import xarray as xr
import io
import urllib.request
import gzip
import wbdata as wb

Meth(ane) dataset ðŸ’Ž

In [ ]:
url = "https://data.giss.nasa.gov/ch4_fung/ch4_fung.nc"
req = urllib.request.Request(url)
with  urllib.request.urlopen(req) as resp:
    xr_df = xr.open_dataset(io.BytesIO(resp.read()))

In [8]:
df = xr_df.to_dataframe()
df.describe()

,CH4ANIMLS,CH4COAL,CH4GASLEAK,CH4GASVENT,CH4HYDV,CH4HYDZ,CH4MSW,CH4SOILABS,CH4TRMITE,CH4BOGS,CH4BURN,CH4RICEC,CH4SWAMPS,CH4TUNDRA,CH4WETL
count,8.276400e+04,40356.000000,63396.000000,7812.000000,5.400000e+02,4.320000e+03,8.223600e+04,113040.000000,117780.000000,8998.000000,27156.000000,7.059000e+03,8478.000000,4242.000000,1.856400e+04
mean,1.099393e-03,0.000945,0.000205,0.001596,9.850023e-02,1.359533e-02,6.994461e-04,-0.000319,0.000185,0.000492,0.000279,9.985486e-04,0.000419,0.000153,7.992684e-04
std,1.191168e-03,0.003304,0.000643,0.003624,4.698218e-07,5.337042e-07,2.482614e-03,0.000182,0.000134,0.000530,0.000603,1.315709e-03,0.000623,0.000003,1.118393e-03
min,1.000000e-07,0.000000,0.000000,0.000000,9.850070e-02,1.359480e-02,6.000000e-07,-0.000500,0.000035,0.000009,0.000005,2.000000e-07,0.000020,0.000140,6.900000e-07
25%,2.679000e-04,0.000002,0.000004,0.000049,9.850070e-02,1.359480e-02,4.680000e-05,-0.000500,0.000064,0.000133,0.000020,1.168000e-04,0.000087,0.000150,1.080000e-04
50%,7.622000e-04,0.000205,0.000024,0.000934,9.850070e-02,1.359480e-02,1.270000e-04,-0.000300,0.000132,0.000324,0.000063,4.850000e-04,0.000208,0.000155,3.100000e-04
75%,1.462700e-03,0.000830,0.000173,0.000934,9.850070e-02,1.359480e-02,6.078000e-04,-0.000100,0.000283,0.000648,0.000166,1.416850e-03,0.000441,0.000155,9.629125e-04
max,1.135570e-02,0.100752,0.013338,0.039421,9.850070e-02,1.359480e-02,7.068230e-02,-0.000100,0.000461,0.004831,0.008837,1.032270e-02,0.004960,0.000155,6.200000e-03

In [9]:
df.isna().sum().sum()

11077259

In [11]:
df.head()

                    CH4ANIMLS  CH4COAL  CH4GASLEAK  CH4GASVENT  CH4HYDV  \
lat   lon    month
-89.5 -179.5 1            NaN      NaN         NaN         NaN      NaN
             2            NaN      NaN         NaN         NaN      NaN
             3            NaN      NaN         NaN         NaN      NaN
             4            NaN      NaN         NaN         NaN      NaN
             5            NaN      NaN         NaN         NaN      NaN

                    CH4HYDZ  CH4MSW  CH4SOILABS  CH4TRMITE  CH4BOGS  CH4BURN  \
lat   lon    month
-89.5 -179.5 1          NaN     NaN         NaN        NaN      NaN      NaN
             2          NaN     NaN         NaN        NaN      NaN      NaN
             3          NaN     NaN         NaN        NaN      NaN      NaN
             4          NaN     NaN         NaN        NaN      NaN      NaN
             5          NaN     NaN         NaN        NaN      NaN      NaN

                    CH4RICEC  CH4SWAMPS  CH4TUNDRA  CH4WETL
lat   lon    month
-89.5 -179.5 1           NaN        NaN        NaN      NaN
             2           NaN        NaN        NaN      NaN
             3           NaN        NaN        NaN      NaN
             4           NaN        NaN        NaN      NaN
             5           NaN        NaN        NaN      NaN

In [13]:
url1 = "https://data.giss.nasa.gov/co2_fung/co2_fung.nc"
req1 = urllib.request.Request(url1)
with  urllib.request.urlopen(req1) as resp:
    xr_df1 = xr.open_dataset(io.BytesIO(resp.read()))

GDP data scraping - World Bank (1960 - 2020) https://wbdata.readthedocs.io/en/stable/

In [4]:
# Scrape annual data from the World Bank API

#countries = [i['id'] for i in wb.get_country()]  
indicators = {"NY.GDP.PCAP.PP.KD": "gdppc"}
df = wb.get_dataframe(indicators=indicators, country="all", convert_date=True)
df3 = pd.DataFrame.reset_index(df, level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [7]:
df3.head()

      country       date         gdppc
0  Arab World 2020-01-01           NaN
1  Arab World 2019-01-01  14602.938214
2  Arab World 2018-01-01  14622.065826
3  Arab World 2017-01-01  14555.474921
4  Arab World 2016-01-01  14663.549625

In [8]:
df3.country.unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [9]:
df3.date.unique()

array(['2020-01-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '2006-01-01T00:00:00.000000000', '2005-01-01T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '2003-01-01T00:00:00.000000000',
       '2002-01-01T00:00:00.000000000', '2001-01-01T00:00:00.000000000',
       '2000-01-01T00:00:00.000000000', '1999-01-01T00:00:00.000000000',
       '1998-01-01T00:00:00.000000000', '1997-01-01T00:00:00.000000000',
       '1996-01-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '1994-01-01T00:00:00.000000000', '1993-01-01T00:00:00.000000000',
       '1992-01-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '1990-01-01T00:00:00.000000000', '1989-01-01T00:00:00.000000000',
       '1988-01-01T00:00:00.000000000', '1987-01-01T00:00:00.000000000',
       '1986-01-01T00:00:00.000000000', '1985-01-01T00:00:00.000000000',
       '1984-01-01T00:00:00.000000000', '1983-01-01T00:00:00.000000000',
       '1982-01-01T00:00:00.000000000', '1981-01-01T00:00:00.000000000',
       '1980-01-01T00:00:00.000000000', '1979-01-01T00:00:00.000000000',
       '1978-01-01T00:00:00.000000000', '1977-01-01T00:00:00.000000000',
       '1976-01-01T00:00:00.000000000', '1975-01-01T00:00:00.000000000',
       '1974-01-01T00:00:00.000000000', '1973-01-01T00:00:00.000000000',
       '1972-01-01T00:00:00.000000000', '1971-01-01T00:00:00.000000000',
       '1970-01-01T00:00:00.000000000', '1969-01-01T00:00:00.000000000',
       '1968-01-01T00:00:00.000000000', '1967-01-01T00:00:00.000000000',
       '1966-01-01T00:00:00.000000000', '1965-01-01T00:00:00.000000000',
       '1964-01-01T00:00:00.000000000', '1963-01-01T00:00:00.000000000',
       '1962-01-01T00:00:00.000000000', '1961-01-01T00:00:00.000000000',
       '1960-01-01T00:00:00.000000000'], dtype='datetime64[ns]')