In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib.animation import FuncAnimation
import cartopy.crs as ccrs
from cartopy.feature import NaturalEarthFeature
import xarray as xr
import io
import urllib.request
import gzip

Meth dataset ðŸ’Ž

In [ ]:
url = "https://data.giss.nasa.gov/ch4_fung/ch4_fung.nc"
req = urllib.request.Request(url)
with  urllib.request.urlopen(req) as resp:
    xr_df = xr.open_dataset(io.BytesIO(resp.read()))

In [8]:
df = xr_df.to_dataframe()
df.describe()

,CH4ANIMLS,CH4COAL,CH4GASLEAK,CH4GASVENT,CH4HYDV,CH4HYDZ,CH4MSW,CH4SOILABS,CH4TRMITE,CH4BOGS,CH4BURN,CH4RICEC,CH4SWAMPS,CH4TUNDRA,CH4WETL
count,8.276400e+04,40356.000000,63396.000000,7812.000000,5.400000e+02,4.320000e+03,8.223600e+04,113040.000000,117780.000000,8998.000000,27156.000000,7.059000e+03,8478.000000,4242.000000,1.856400e+04
mean,1.099393e-03,0.000945,0.000205,0.001596,9.850023e-02,1.359533e-02,6.994461e-04,-0.000319,0.000185,0.000492,0.000279,9.985486e-04,0.000419,0.000153,7.992684e-04
std,1.191168e-03,0.003304,0.000643,0.003624,4.698218e-07,5.337042e-07,2.482614e-03,0.000182,0.000134,0.000530,0.000603,1.315709e-03,0.000623,0.000003,1.118393e-03
min,1.000000e-07,0.000000,0.000000,0.000000,9.850070e-02,1.359480e-02,6.000000e-07,-0.000500,0.000035,0.000009,0.000005,2.000000e-07,0.000020,0.000140,6.900000e-07
25%,2.679000e-04,0.000002,0.000004,0.000049,9.850070e-02,1.359480e-02,4.680000e-05,-0.000500,0.000064,0.000133,0.000020,1.168000e-04,0.000087,0.000150,1.080000e-04
50%,7.622000e-04,0.000205,0.000024,0.000934,9.850070e-02,1.359480e-02,1.270000e-04,-0.000300,0.000132,0.000324,0.000063,4.850000e-04,0.000208,0.000155,3.100000e-04
75%,1.462700e-03,0.000830,0.000173,0.000934,9.850070e-02,1.359480e-02,6.078000e-04,-0.000100,0.000283,0.000648,0.000166,1.416850e-03,0.000441,0.000155,9.629125e-04
max,1.135570e-02,0.100752,0.013338,0.039421,9.850070e-02,1.359480e-02,7.068230e-02,-0.000100,0.000461,0.004831,0.008837,1.032270e-02,0.004960,0.000155,6.200000e-03

In [9]:
df.isna().sum().sum()

11077259

In [11]:
df.head()

                    CH4ANIMLS  CH4COAL  CH4GASLEAK  CH4GASVENT  CH4HYDV  \
lat   lon    month
-89.5 -179.5 1            NaN      NaN         NaN         NaN      NaN
             2            NaN      NaN         NaN         NaN      NaN
             3            NaN      NaN         NaN         NaN      NaN
             4            NaN      NaN         NaN         NaN      NaN
             5            NaN      NaN         NaN         NaN      NaN

                    CH4HYDZ  CH4MSW  CH4SOILABS  CH4TRMITE  CH4BOGS  CH4BURN  \
lat   lon    month
-89.5 -179.5 1          NaN     NaN         NaN        NaN      NaN      NaN
             2          NaN     NaN         NaN        NaN      NaN      NaN
             3          NaN     NaN         NaN        NaN      NaN      NaN
             4          NaN     NaN         NaN        NaN      NaN      NaN
             5          NaN     NaN         NaN        NaN      NaN      NaN

                    CH4RICEC  CH4SWAMPS  CH4TUNDRA  CH4WETL
lat   lon    month
-89.5 -179.5 1           NaN        NaN        NaN      NaN
             2           NaN        NaN        NaN      NaN
             3           NaN        NaN        NaN      NaN
             4           NaN        NaN        NaN      NaN
             5           NaN        NaN        NaN      NaN

In [13]:
url1 = "https://data.giss.nasa.gov/co2_fung/co2_fung.nc"
req1 = urllib.request.Request(url1)
with  urllib.request.urlopen(req1) as resp:
    xr_df1 = xr.open_dataset(io.BytesIO(resp.read()))