# Data description - UN voting
This jupyter notebook describes the data containing historical records of voting behavior within the United Nations. The dataset was gathered from the TidyTuesday github page and consists of three different CSV files that can easily be linked together.

#### Loading the packages

In [1]:
import pandas as pd

##### Loading the data

In [4]:
votes = pd.read_csv('Data/votes.csv')
roll_calls = pd.read_csv('Data/roll_calls.csv')
roll_call_issues = pd.read_csv('Data/roll_call_issues.csv')

## Votes
The votes dataset contains the overview of the votes organized per resolution and country. It contains a total of 869 937 observations. For every observation, the reference ID for the resolution is given combined with the country, country_code and the vote.

In [7]:
votes.sample(5, random_state=12345)

        rcid          country country_code     vote
449842  3664     Burkina Faso           BF      yes
281290  2526           Canada           CA       no
362394  3079           Uganda           UG      yes
180463  1807  Myanmar (Burma)           MM  abstain
804741  5748       Madagascar           MG      yes

## Roll calls
The roll calls dataset contains information about the resolutions that are proposed and voted on. It contains 6 202 resolutions with dates rangin from January 1946 until December 2019. There is also an indication of whether the vote is an important one, and the dataset contains a short and long description of the resolution.

In [13]:
roll_calls.sample(2, random_state=13245)

,rcid,session,importantvote,date,unres,amend,para,short,descr
3398,3403,44,0.0,1989-11-04,R/44/27L,NaN,NaN,"APARTHEID, SPORTS",Support for the work of the Commission against...
1462,1465,28,0.0,1973-12-03,R/28/3110,0.0,0.0,"NON SELF GOVERNING TERRITORIES, INFORMATION","RES, I.A., DEPLORING FAILURE OF SOME MEMBER ST..."

In [29]:
def climateRelated(text: str) -> bool:
    text = text.lower()
    return ('climate change' in text) | ('global warming' in text) | ('renewable energy' in text)

roll_calls.loc[:, 'climate'] = roll_calls.descr.apply(
    lambda x: climateRelated(str(x)))

roll_calls[roll_calls.climate]

,rcid,session,importantvote,date,unres,amend,para,short,descr,climate
5479,5577,72,0.0,2017-12-20,A/RES/72/224,NaN,NaN,"Ensuring access to affordable, reliable, susta...","A/72/251 19i - Ensuring access to affordable, ...",True
5714,5812,62,NaN,2007-12-10,R/62/86,NaN,1.0,NaN,The President: The Assembly has before it a dr...,True

## Roll call issues
The roll call issues dataset contains again the resolutions that are voted on but this time it describes the issue in just a couple of words. It only contains 5 745 rows which means that not every resolution will have a match with this dataset. Also, the issues listed have little to do with climate change.

In [15]:
roll_call_issues.sample(5, random_state=12345)

      rcid short_name                         issue
5626  5236         ec          Economic development
3101  1274         hr                  Human rights
2325  3144         di  Arms control and disarmament
4541  2790         co                   Colonialism
2190  2558         di  Arms control and disarmament

In [16]:
roll_call_issues.issue.value_counts()

Arms control and disarmament            1092
Palestinian conflict                    1061
Human rights                            1015
Colonialism                              957
Nuclear weapons and nuclear material     855
Economic development                     765
Name: issue, dtype: int64