In [54]:
import pandas as pd
import numpy as np

### Importing

In [55]:
df = pd.read_pickle("temperature_anomalies_1980_United States.pkl")
GDPus = pd.read_csv("GDPC1.csv")

### Data cleaning

In [56]:
# convert to period
GDPus['Month'] = pd.to_datetime(GDPus['DATE']).dt.to_period('M')
# set Date as index and resample
GDPus2 = GDPus.set_index('Month').resample('M').interpolate()
#Reset index
GDPus2 = GDPus2.reset_index()
#Create time variable
GDPus2['time'] = GDPus2['Month'].astype(str)
GDPus2['time'] = pd.to_datetime(GDPus2['time'])
#Drop unnecessary columns
GDPus2.drop(["Month", "DATE"], inplace= True, axis =1)

In [57]:
mapping = dict(zip(GDPus2.time.dt.to_period('M'), GDPus2.GDPC1))
df.assign(gdp=df.time.dt.to_period('M').map(mapping))

,ISO2,ISO3,NAME,REGION,SUBREGION,LON,LAT,geometry,lat,lon,time,time_bnds,tempanomaly,YearMonth,gdp
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-79.0,37.0,1980-01-15,1980-02-01,0.14,1980-01,6837.641
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-85.0,43.0,1980-01-15,1980-01-01,0.78,1980-01,6837.641
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-71.0,43.0,1980-01-15,1980-01-01,0.43,1980-01,6837.641
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-75.0,41.0,1980-01-15,1980-01-01,0.39,1980-01,6837.641
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-85.0,31.0,1980-01-15,1980-01-01,0.78,1980-01,6837.641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-83.0,37.0,2021-04-15,2021-04-01,-3.28,2021-04,NaN
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-81.0,39.0,2021-04-15,2021-05-01,-0.78,2021-04,NaN
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-79.0,43.0,2021-04-15,2021-05-01,-0.86,2021-04,NaN
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-87.0,43.0,2021-04-15,2021-05-01,-3.28,2021-04,NaN
208,US,USA,United States,19,21,-98.606,39.622,"MULTIPOLYGON (((-75.17029 19.93139, -75.22372 ...",-89.0,45.0,2021-04-15,2021-04-01,-3.28,2021-04,NaN