# Data description - UN voting
This jupyter notebook describes the data containing historical records of voting behavior within the United Nations. The dataset was gathered from the TidyTuesday github page and consists of three different CSV files that can easily be linked together.

#### Loading the packages

In [1]:
import pandas as pd
import datetime
import cdsapi
import netCDF4 as nc
import os
from tqdm import tqdm

##### Loading the data

In [2]:
votes = pd.read_csv('Data/votes.csv')
roll_calls = pd.read_csv('Data/roll_calls.csv')
roll_call_issues = pd.read_csv('Data/roll_call_issues.csv')

## Votes
The votes dataset contains the overview of the votes organized per resolution and country. It contains a total of 869 937 observations. For every observation, the reference ID for the resolution is given combined with the country, country_code and the vote.

In [3]:
votes.sample(5, random_state=12345)

        rcid          country country_code     vote
449842  3664     Burkina Faso           BF      yes
281290  2526           Canada           CA       no
362394  3079           Uganda           UG      yes
180463  1807  Myanmar (Burma)           MM  abstain
804741  5748       Madagascar           MG      yes

## Roll calls
The roll calls dataset contains information about the resolutions that are proposed and voted on. It contains 6 202 resolutions with dates rangin from January 1946 until December 2019. There is also an indication of whether the vote is an important one, and the dataset contains a short and long description of the resolution.

In [4]:
roll_calls.sample(2, random_state=13245)

,rcid,session,importantvote,date,unres,amend,para,short,descr
3398,3403,44,0.0,1989-11-04,R/44/27L,NaN,NaN,"APARTHEID, SPORTS",Support for the work of the Commission against...
1462,1465,28,0.0,1973-12-03,R/28/3110,0.0,0.0,"NON SELF GOVERNING TERRITORIES, INFORMATION","RES, I.A., DEPLORING FAILURE OF SOME MEMBER ST..."

In [5]:
def climateRelated(text: str) -> bool:
    text = text.lower()
    return ('climate change' in text) | ('global warming' in text) | ('renewable energy' in text)

roll_calls.loc[:, 'climate'] = roll_calls.descr.apply(
    lambda x: climateRelated(str(x)))

roll_calls[roll_calls.climate]

,rcid,session,importantvote,date,unres,amend,para,short,descr,climate
5479,5577,72,0.0,2017-12-20,A/RES/72/224,NaN,NaN,"Ensuring access to affordable, reliable, susta...","A/72/251 19i - Ensuring access to affordable, ...",True
5714,5812,62,NaN,2007-12-10,R/62/86,NaN,1.0,NaN,The President: The Assembly has before it a dr...,True

## Roll call issues
The roll call issues dataset contains again the resolutions that are voted on but this time it describes the issue in just a couple of words. It only contains 5 745 rows which means that not every resolution will have a match with this dataset. Also, the issues listed have little to do with climate change.

In [6]:
roll_call_issues.sample(5, random_state=12345)

      rcid short_name                         issue
5626  5236         ec          Economic development
3101  1274         hr                  Human rights
2325  3144         di  Arms control and disarmament
4541  2790         co                   Colonialism
2190  2558         di  Arms control and disarmament

In [7]:
roll_call_issues.issue.value_counts()

Arms control and disarmament            1092
Palestinian conflict                    1061
Human rights                            1015
Colonialism                              957
Nuclear weapons and nuclear material     855
Economic development                     765
Name: issue, dtype: int64

## Copernicus data
The copernicus data is a comprehensive data source that contains data obtained through satelites. In this case, the dataset contains information about fire burned areas from 2001 until 2019.

In [ ]:
def constructDataFrame(url: str) -> pd.DataFrame:
    # Load the dataset using the url
    ds = nc.Dataset(url)
    # Get the date of the observations in the dataset
    date = datetime.datetime(1970, 1, 1) + datetime.timedelta(days=ds['time'][:][0])
    
    # Get the values for burned area
    burned_area = ds['burned_area'][:][0].flatten()
    
    # Get the standard error
    standard_error = ds['standard_error'][:][0].flatten()
    
    # Get the fraction
    fraction = ds['fraction_of_observed_area'][:][0].flatten()
    
    # Get longitudes
    lon = []
    for i in list(ds['lon'][:]):
        lon = lon + [i]*len(ds['lat'][:])
    
    # Get latitudes
    lat = list(list(ds['lat'][:]))*len(ds['lon'][:])
    
    
    # Convert information to a pandas dataframe
    df = pd.DataFrame(lon)
    df.columns = ['longitude']
    df.loc[:, 'latitude'] = lat
    df.loc[:, 'burned_area'] = burned_area
    df.loc[:, 'fraction'] = fraction
    df.loc[:, 'standard_error'] = standard_error
    df.loc[:, 'Date'] = date.strftime("%Y-%m-%d")
    df = df[df.burned_area != 0]
    return df

dataframes = []
files = []
for root, dirs, filelist in os.walk("Data/copernicus"):
    for filename in filelist:
        files.append('Data/copernicus/' + filename)

for file in tqdm(files):
    dataframes.append(constructDataFrame(file))

df = pd.concat(dataframes)

 20%|█▉        | 45/228 [02:53<11:33,  3.79s/it]

In [ ]:
df.to_parquet('Data/copernicus.parquet.gzip', compression='gzip', index=False)

## Copernicus data - Heat waves
This dataset contains yearly heat wave information for the European Continent between 1986 and 2019.

In [ ]:
ds = nc.Dataset('Data/20010101-ESACCI-L4_FIRE-BA-MODIS-fv5.1.1cds.nc')

In [ ]:
def constructDataset(ds):
    years = []
    for i in tqdm(range(34)):
        df = pd.DataFrame(ds['HWD_merged'][i].flatten())
        df.columns = ['heat_wave_days']
        df.loc[:, 'year'] = 1986 + i
        lon = []
        for i in list(ds['lon'][:]):
            lon = lon + [i]*len(ds['lat'][:])
        df.loc[:, 'longitude'] = lon
        lat = list(list(ds['lat'][:]))*len(ds['lon'][:])
        df.loc[:, 'latitude'] = lat
        df = df[['longitude', 'latitude', 'heat_wave_days', 'year']]
        df = df.fillna(0)
        years.append(df)
    return pd.concat(years)

df = constructDataset(ds)     
df

In [ ]:
df.to_parquet('Data/heat_waves_eu.parquet.gzip', compression='gzip', index=False)

## Copernicus - Temperature and humidity

In [ ]:
ds = nc.Dataset('Data/temperature/pr_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')

In [ ]:
def constructData():
    ds_hum = nc.Dataset('Data/temperature/hurs_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    ds_prec = nc.Dataset('Data/temperature/pr_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    ds_wind = nc.Dataset('Data/temperature/sfcWind_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    ds_tas = nc.Dataset('Data/temperature/tas_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    ds_tasmax = nc.Dataset('Data/temperature/tasmax_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    ds_tasmin = nc.Dataset('Data/temperature/tasmin_Amon_IPSL-CM5A-MR_historical_r3i1p1_185001-200512.nc')
    dataframes=[]
    times = len(ds_hum['time'][:])
    for t in tqdm(range(times)):
        date = datetime.datetime(1850, 1, 1) + datetime.timedelta(days=ds_hum['time'][:][t])
        humidity = ds_hum['hurs'][t].flatten()
        precipation = ds_prec['pr'][t].flatten()
        wind_speed = ds_wind['sfcWind'][t].flatten()
        temperature = ds_tas['tas'][t].flatten()
        temperature_max = ds_tasmax['tasmax'][t].flatten()
        temperature_min = ds_tasmin['tasmin'][t].flatten()
        
        
        df = pd.DataFrame(humidity)
        df.columns = ['humidity']
        df.loc[:, 'precipation'] = precipation
        df.loc[:, 'wind_speed'] = wind_speed
        df.loc[:, 'temperature'] = temperature
        df.loc[:, 'temperature_max'] = temperature_max
        df.loc[:, 'temperature_min'] = temperature_min
        
        lon = []
        for i in list(ds['lon'][:]):
            lon = lon + [i]*len(ds['lat'][:])
        df.loc[:, 'longitude'] = lon
        
        lat = list(list(ds['lat'][:]))*len(ds['lon'][:])
        df.loc[:, 'latitude'] = lat
        
        df.loc[:, 'date'] = date.strftime("%Y-%m-%d")
        dataframes.append(df)
    return pd.concat(dataframes)

df = constructData()
df

In [ ]:
df.to_parquet('Data/temperature_etc.parquet.gzip', compression='gzip', index=False)