In [2]:
import pandas as pd
import numpy as np
import xarray as xr
import io
import urllib.request
import datetime
import gzip
import geopandas
import geopandas as gpd
import os
import zipfile as zf
import shapefile
from shapely.geometry import shape
#Api world bank
import wbdata as wb

Using the World Bank API to import economic indicators, such as the GPD per capita

In [2]:
#GDP ppc and indicator data from World Bank API
indicators = {"NY.GDP.PCAP.PP.KD": "gdppc"}
wbdf = wb.get_dataframe(indicators=indicators, country="all", convert_date=True)
wbdf = pd.DataFrame.reset_index(wbdf, level=None, drop=False, inplace=False, col_level=0, col_fill='')

Importing the world borders polygon file, in order to be able to map coordinates to their country locations

In [3]:
zp = zf.ZipFile('TM_WORLD_BORDERS-0.3.zip')
files_to_read = [y for y in zp.namelist() for ending in ['dbf', 'prj', 'shp', 'shx'] if y.endswith(ending)]
dummy = zp.read(files_to_read[0])
dbf_file, prj_file, shp_file, shx_file = [zp.open(filename) for filename in files_to_read]
r = shapefile.Reader(shp = shp_file, shx = shx_file, dbf = dbf_file, encoding='windows-1252')
attributes, geometry = [], []
field_names = [field[0] for field in r.fields[1:]]
for row in r.shapeRecords():
    geometry.append(shape(row.shape.__geo_interface__))
    attributes.append(dict(zip(field_names, row.record)))

Using a web request to scrape the temperature anomalies dataset from NASA

In [4]:
url = "https://data.giss.nasa.gov/pub/gistemp/gistemp1200_GHCNv4_ERSSTv5.nc.gz"
req = urllib.request.Request(url)
with gzip.open(urllib.request.urlopen(req)) as resp:
    xr_df = xr.open_dataset(io.BytesIO(resp.read()))
dfnasa = xr_df.to_dataframe()
#Transforming into pandas dataframe
dfnasa = dfnasa.reset_index()
#dfnasa.to_csv("nasa_temperature.csv")

In [3]:
'''
url = "https://data.giss.nasa.gov/pub/gistemp/gistemp250_GHCNv4.nc.gz"
req = urllib.request.Request(url)
with gzip.open(urllib.request.urlopen(req)) as resp:
    xr_df2 = xr.open_dataset(io.BytesIO(resp.read()))
dfnasa2 = xr_df2.to_dataframe()
dfnasa2 = dfnasa2.reset_index()
#dfnasa.to_csv("nasa_temperature.csv")
dfnasa2.head()
'''

'\nurl = "https://data.giss.nasa.gov/pub/gistemp/gistemp250_GHCNv4.nc.gz"\nreq = urllib.request.Request(url)\nwith gzip.open(urllib.request.urlopen(req)) as resp:\n    xr_df2 = xr.open_dataset(io.BytesIO(resp.read()))\ndfnasa2 = xr_df2.to_dataframe()\ndfnasa2 = dfnasa2.reset_index()\n#dfnasa.to_csv("nasa_temperature.csv")\ndfnasa2.head()\n'

In [9]:
dfnasa80 = dfnasa[dfnasa['time'].astype(str) >= "1980-01-01"]

In [10]:
dfnasa80.to_csv("nasa_temperature.csv")

In [2]:
dfnasa80 = pd.read_csv("nasa_temperature.csv")

In [10]:
CountryDF = geopandas.read_file("TM_WORLD_BORDERS-0.3.shp")
type(CountryDF)

geopandas.geodataframe.GeoDataFrame

In [11]:
#df1 = pd.DataFrame(CountryDF)

In [2]:

cc = countries2.CountryChecker('TM_WORLD_BORDERS-0.3.shp')
print(cc.getCountry(countries2.Point(49.7821, 3.5708)).iso)

FR

In [21]:
print(cc.getCountry(countries2.Point(49.7821, 3.5708)).name1)

France

In [24]:
cc.getCountry(countries2.Point(49.7821, 3.5708)).name1

'France'

In [33]:
cc.getCountry(countries2.Point(29, 109)).name1

'China'

In [3]:
def countryName(lat, lon):
    global pbar
    pbar.update(1)
    import countries2
    try:
        cc = countries2.CountryChecker('TM_WORLD_BORDERS-0.3.shp')
        return cc.getCountry(countries2.Point(lat,lon)).name1
    except:
        nocountry = "International territory"
        return nocountry

In [9]:
dfnasa1 = dfnasa80.sample(10)

In [37]:
countryName(-33,151)

'Australia'

In [49]:
dfnasa1

           lat    lon  nv       time  time_bnds  tempanomaly
47280065  65.0  -23.0   1 1936-02-15 1936-03-01        -1.35
3844327  -77.0  -73.0   0 1979-04-15 1979-04-01         3.54
39560470  39.0  105.0   1 1985-11-15 1985-12-01        -0.72
38021417  35.0  -81.0   0 1920-10-15 1920-10-01         1.53
29864957   7.0  149.0   1 1887-10-15 1887-11-01         0.33
47859868  67.0  -41.0   1 1917-01-15 1917-02-01         3.15
9939514  -57.0  -79.0   0 1959-07-15 1959-07-01        -0.57
51717678  79.0   73.0   1 2009-03-15 2009-04-01         0.21
48252699  69.0 -169.0   0 2004-12-15 2004-12-01         3.17
33995796  21.0   65.0   0 1977-09-15 1977-09-01         0.33

In [9]:
dfnasa.iloc[5839736, 1]

23.0

In [56]:
dfnasa80['country']=dfnasa80.progress_apply(lambda x: countryName(x['lat'],x['lon']),axis=1)

my bar!: 100%|█████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 14.43it/s]

In [4]:
dfnasa.describe()

                lat           lon          nv   tempanomaly
count  5.495040e+07  5.495040e+07  54950400.0  1.753933e+07
mean   0.000000e+00  0.000000e+00         0.5  2.399470e-01
std    5.195832e+01  1.039214e+02         0.5  1.997033e+00
min   -8.900000e+01 -1.790000e+02         0.0 -2.000000e+01
25%   -4.500000e+01 -8.950000e+01         0.0 -7.000000e-01
50%    0.000000e+00  0.000000e+00         0.5  1.800000e-01
75%    4.500000e+01  8.950000e+01         1.0  1.130000e+00
max    8.900000e+01  1.790000e+02         1.0  1.904000e+01

In [4]:
from tqdm import tqdm

In [55]:
# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm_gui`, `tqdm_notebook`, optional kwargs, etc.)
tqdm.pandas(desc="my bar!")

In [13]:
dfnasa1['country'] = np.vectorize(countryName(dfnasa1['lat'], dfnasa1['lon']))

In [14]:
dfnasa1

,lat,lon,nv,time,time_bnds,tempanomaly,country
41869540,47.0,27.0,1,1912-05-15,1912-06-01,-1.44,<numpy.vectorize object at 0x0000022561C9EDC0>
26155256,-5.0,121.0,1,1983-05-15,1983-06-01,0.31,<numpy.vectorize object at 0x0000022561C9EDC0>
52565026,83.0,-147.0,1,1954-11-15,1954-12-01,3.16,<numpy.vectorize object at 0x0000022561C9EDC0>
36020056,27.0,179.0,0,1914-01-15,1914-01-01,0.18,<numpy.vectorize object at 0x0000022561C9EDC0>
52570324,83.0,-143.0,0,1972-05-15,1972-05-01,-2.02,<numpy.vectorize object at 0x0000022561C9EDC0>
15597387,-39.0,17.0,0,1960-12-15,1960-12-01,0.28,<numpy.vectorize object at 0x0000022561C9EDC0>
38917449,37.0,87.0,0,1966-02-15,1966-02-01,2.55,<numpy.vectorize object at 0x0000022561C9EDC0>
5736173,-71.0,-37.0,0,1905-02-15,1905-02-01,-1.90,<numpy.vectorize object at 0x0000022561C9EDC0>
45037598,57.0,95.0,1,1906-07-15,1906-08-01,-2.26,<numpy.vectorize object at 0x0000022561C9EDC0>
15249930,-41.0,171.0,1,1979-07-15,1979-08-01,0.62,<numpy.vectorize object at 0x0000022561C9EDC0>

In [7]:
import swifter

In [ ]:
dfnasa['country']=dfnasa.progress_apply(lambda x: countryName(x['lat'],x['lon']),axis=1)

my bar!:   0%|                                                             | 6556/54950400 [20:27<906:05:50, 16.84it/s]

In [8]:
dfnasa80['country']=dfnasa80.swifter.progress_bar(enable=True).apply(lambda x: countryName(x['lat'],x['lon']), axis=1)

KeyboardInterrupt:

In [8]:
dfnasa1

,lat,lon,nv,time,time_bnds,tempanomaly,country
8747671,-61.0,-63.0,1,1996-08-15,1996-09-01,3.06,International territory
29522290,7.0,-53.0,1,1881-07-15,1881-08-01,0.41,International territory
12082088,-51.0,103.0,1,2003-05-15,2003-06-01,0.50,International territory
38036434,35.0,-73.0,1,1900-03-15,1900-04-01,-0.05,International territory
40041138,41.0,29.0,1,1902-11-15,1902-12-01,-4.50,International territory
16068561,-37.0,-65.0,0,1934-10-15,1934-10-01,-0.97,Argentina
13237770,-47.0,65.0,1,1920-11-15,1920-12-01,-0.19,International territory
24312059,-11.0,115.0,0,2012-12-15,2012-12-01,1.03,International territory
1991448,-83.0,-85.0,0,1908-09-15,1908-09-01,NaN,Antarctica
25365261,-7.0,15.0,1,2011-10-15,2011-11-01,0.29,Angola

In [ ]:
with tqdm(total=len(dfnasa80)) as pbar:
    dfnasa80['country'] = np.vectorize(countryName)(dfnasa80['lat'],dfnasa80['lon'])

  0%|                                                                      | 1761/16070400 [03:23<511:19:23,  8.73it/s]

In [11]:
dfnasa1

,Unnamed: 0,lat,lon,nv,time,time_bnds,tempanomaly,country
7322904,25039704,-7.0,-177.0,1,2018-01-15,2018-02-01,0.55,International territory
12566272,42969472,51.0,-45.0,1,1989-05-15,1989-06-01,-0.59,International territory
8103919,27710719,1.0,-41.0,0,2002-08-15,2002-08-01,0.43,International territory
852271,2915071,-81.0,99.0,0,1991-12-15,1991-12-01,1.59,Antarctica
12802698,43777098,53.0,71.0,1,2016-11-15,2016-12-01,-3.99,Kazakhstan
6434307,22001907,-17.0,-167.0,0,1996-04-15,1996-04-01,0.17,International territory
5544089,18957689,-27.0,-163.0,1,2004-10-15,2004-11-01,0.48,International territory
15010838,51327638,79.0,-157.0,1,2012-07-15,2012-08-01,2.22,International territory
10319426,35286626,25.0,105.0,1,1992-03-15,1992-04-01,-1.31,China
6391868,21856268,-19.0,107.0,0,2014-05-15,2014-05-01,0.87,International territory

In [ ]:
v = np.vectorize(lambda x, y: y in x)